.mn_show {
  .mn_notifyTop {
    top: 0;
  }
}

.mn_notifyTop {
  top: -250px;
  left: 0;
  width: 100%;
  background-color: #1c7ef9;
  color: #fff;
  min-height: 50px;
  z-index: 130;
  transition: top 0.2s ease-in-out;
}

.mn_notifyTopWrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  padding: 15px 40px 10px 10px;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    min-width: 23px;
    height: 23px;
    background: url($image-url + '/main/ico-noti.png') no-repeat 0 0 / cover;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -2px;
  }

  button {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 7px;
    border: 0;
    width: 40px;
    height: 40px;
    background: url($image-url + '/main/modal-close.png') no-repeat 0 0 / cover;
  }
}

.mn_hide {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  color: transparent !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
