.mes_wrapper {
  padding: 24px 20px;
  background-color: #0059c9;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1024px) {
    padding: 30px 20px;
  }
}

.mes_inner {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.mes_title_big {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  margin-right: 24px;
  margin-bottom: 4px;

  @media (max-width: 1024px) {
    margin-bottom: 10px;
  }
}

.mes_content_a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-right: 24px;
}

.mes_img {
  flex-shrink: 0;
  background: url($image-url+'/main/event-img.png') no-repeat 50% 50%;
  background-size: 100%;
  width: 120px;
  height: 120px;

  @media (max-width: 1024px) {
    width: 140px;
    height: 140px;
  }
}
