
.pcm_subject {
  @include mb(3);
}

.pcm_sns {
  @include d-flex;
  @include mb(2);
  cursor: pointer;
  background: #fff;
  font-family: $primary-fonts;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 300;
  font-size: 14px;
  color: #4d4d4d;
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  width: 100%;
  height: 35px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: $primary-color;
    color: $primary-color;
  }

  &:last-child {
    @include mb(4);
  }

  img {
    margin-top: -3px;
  }
}

.pcm_snsBtn {
  width: 100%;
  text-align: center;
}

.pcm_snsIcon {
  display: inline-block;

  img {
    @include mr(2);
  }
}

.pcm_dummy {
  position: absolute;
  left: -9999px;
}