
.tl_container {
  @include container;
  margin-top: 50px;
  margin-bottom: 100px;
}

.tl_top {
  @include row;
}

.tl_title {
  @include mb(3);
  @include p(0);
  @include col(4);
  @include col-md(7);
  @include col-lg(9);
  display: inline-block;
  line-height: 1.22;
  letter-spacing: -0.2px;
  color: #4d4d4d;
  font: {
    size: 18px;
    weight: bold;
    style: normal;
    stretch: normal;
  }

  @media (max-width: $sm-max-width) {
    display: none;
  }
}

.tl_optionBtn {
  @include common_optionBtn;
  display: inline-block;

  @media (min-width: $sm-min-width) {
    display: none;
  }
}

.tl_optionTable {
  @include common_optionTable;
}

.tl_searchWrapper {
  @include p(0);
  @include col(8);
  @include col-md(5);
  @include col-lg(3);
}

.tl_searchContainer {
  @include row;
  background: white;
  position: relative;
  float: right;

  input {
    font-size: 1rem;
    padding-left: 8px;
    padding-bottom: 6px;
    height: 25px;
    background: none;
    color: #666666;
    max-width: 155px;
    border: none;
    border-bottom: 1px solid #666666;
  }

  @media (max-width: $sm-max-width) {
    input {
      margin-left: 0 !important;
    }
  }

  .sb_wrapper {
    position: absolute;
    right: -8px;
    top: -11px;
  }
}

.tl_searchSelectedWrapper {
  position: relative;
  width: -moz-max-content; /* Firefox/Gecko */
  float: right;
  right: 27px;

  i {
    font-size: 20px;
    position: absolute;
    top: 3px;
    right: -30px;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }

  @media (max-width: $sm-max-width) {
    float: initial !important;
    right: auto !important;
  }
}

.tl_searchSelected {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #4d4d4d;
}

.tl_table {
  @include inner-container;
  width: 100%;

  p {
    margin-bottom: 0;
  }
}

.tl_tr {
  @include row;
  border-bottom: 1px solid #ccc;

  &:hover {
    background: #fdfdfd;
  }
}

.tl_tr_0 {
  @include row;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #e6e6e6;
}

.tl_tr_1 {
  @extend .tl_tr;
}

.tl_tr_2 {
  @extend .tl_tr;
  cursor: pointer;
}

.tl_td {
  padding: 10px 1rem;
  font-weight: 400;
  font-size: 14px;
  color: #4d4d4d;
}

.tl_td_1 {
  @extend .tl_td;
  @include col(4);

  span {
    @include ml(3);
  }
}

.tl_td_2 {
  @extend .tl_td;
  @include col(3);
  @include col_sm(2);
  text-align: center;
}

.tl_td_3 {
  @extend .tl_td;
  @include col(3);
  text-align: right;
}

.tl_td_4 {
  @extend .tl_td;
  @include col(2);
  @include col_sm(3);
  position: relative;
}

.tl_noDataIconWrapper {
  @include mt(4);
}