.mv_container {
  position: relative;
  width: 100%;
  height: 680px;
}

.mv_darker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 680px;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.mv_img1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 680px;
  padding: 6rem;
  transition: 0.5s all ease-in-out;
  z-index: 0;
  opacity: 1;
  background-image: url('/static/image/main-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.mv_img2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 680px;
  padding: 6rem;
  transition: 0.5s all ease-in-out;
  z-index: 0;
  opacity: 0;
  background-image: url('/static/image/main-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.mv_subject_wrapper {
  position: absolute;
  top: 210px;
  left: 0;
  width: 100%;

  @media (max-width: 576px) {
    top: 190px;
  }
}

.mv_subject {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  z-index: 1;
  color: white;
  font-size: 2.7rem;
  line-height: 1.4;
  position: relative;
  height: 270px;

  @media (max-width: 576px) {
    padding: 0 20px;
    font-size: 2rem;
    height: 330px;
  }
}

.mv_text1 {
  strong {
    font-weight: bold;
  }
}

.mv_text2 {
  strong {
    font-weight: bold;
  }
  display: none;
}

.mv_subtext {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: normal;

  @media (max-width: 576px) {
    font-size: 1.2rem;
  }
}
