
.hst_logo {
  @include mr(4);
  background: {
    image: url($image-url +'/logo-multi.png');
    repeat: no-repeat;
  }
  background-repeat: no-repeat;
  position: relative;
  color: inherit;
  height: 50px;
  font-size: 1.125rem;
  line-height: 2rem;
  cursor: pointer;
  width: 450px;

  @media all and (max-width: $lg-max-width) {
    background: url($image-url +'/logo-multi-m.png') no-repeat 0 0/contain;
    width: 85px;
    height: 36px;
  }
}

.hst_subTitle_5 {
  @include col(12);
  @include col(12);
  @include pl(0);
  color: $primary-color;
  margin-bottom: 36px;
  position: relative;
  font: {
    family: $primary-fonts;
    size: 36px;
    weight: 500;
  }
  @media all and (max-width: $md-max-width) {
    letter-spacing: normal;
    margin-bottom: 2rem;
    font: {
      size: 26px;
      weight: 600;
    }
  }
}

.hst_section_1 {
  align-items: center !important;
  display: flex !important;
}

.hss_container {
  align-items: center !important;
  display: flex !important;
  justify-content: flex-start;

  @media all and (max-width: $lg-max-width) {
    position: absolute;
    right: 95px;
  }
}

.hss_searchInput {
  @include d-flex;
  align-items: center;
  width: 200px;

  &:hover,
  &:focus-within {
    border-color: $primary-color;
  }

  @media all and (max-width: $lg-max-width) {
    div > input {
      color: white;
    }
  }

  @media all and (max-width: $md-max-width) {
    width: 150px;
  }

  @media all and (max-width: $sm-max-width) {
    width: 120px;
  }
}

.hss_searchContainer {
  @include d-flex;
  justify-content: flex-end;
  -webkit-box-pack: end; /* justify-content */
  -webkit-box-align: end; /* align-items */
  border: 1px solid #c7e0ff;
  padding: 5px 0;
  height: 40px;

  @media all and (max-width: $lg-max-width) {
    width: 100%;
    height: 100%;
    padding: 5px 0 5px 12px;
    border: 0;
    border-radius: 10px;
    background: #242d37;
    font-size: 17px;
  }
}