.mri_container {
  position: relative;
  width: 270px;
  height: 340px;
  background-color: transparent;
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);

  &:hover .mri_content {
    background: #005ac9;
    color: white;
    bottom: 10px;
  }

  @media (max-width: 576px) {
    width: calc((100vw - 50px) / 2);
    height: calc((100vw - 50px) / 2 + 70px);
  }
}

.mri_thumb {
  background: white;
  width: 270px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 6px 0 #aaa;

  @media (max-width: 576px) {
    width: calc((100vw - 50px) / 2);
  }
}

.mri_img {
  width: 100%;
  height: 270px;

  @media (max-width: 576px) {
    height: calc((100vw - 50px) / 2);
  }
}

.mri_imgLandscape {
  height: 270px;
  left: 0;
  position: absolute;

  @media (max-width: 576px) {
    height: calc((100vw - 50px) / 2);
  }
}

.mri_content {
  width: 230px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  text-align: center;
  background: white;
  color: #333;
  padding: 20px 20px 16px;
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;

  @media (max-width: 576px) {
    width: calc((100vw - 50px) / 2 - 20px);
    padding: 16px 14px 14px;
  }
}

.mri_title {
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 500;

  @media (max-width: 576px) {
    width: calc((100vw - 50px) / 2 - 50px);
    font-size: 16px;
  }
}

.mri_desc {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 18px;
  height: 36px;
  margin-top: 12px;
  color: #888;

  @media (max-width: 576px) {
    font-size: 12px;
    line-height: 16px;
    height: 32px;
    margin-top: 10px;
  }
}

.mri_day {
  text-align: right;
  font-size: 12px;
  margin-top: 20px;

  @media (max-width: 576px) {
    font-size: 11px;
    margin-top: 16px;
  }
}

.mri_group {
  margin-top: 2px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;

  @media (max-width: 576px) {
    font-size: 11px;
  }
}

.mri_author {
  font-weight: bold;
}

.sprite_d {
  @include sprite_d;
}
