.mri_container {
  position: relative;
  width: 270px;
  height: 330px;
  background-color: transparent;
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);

  &:hover .mri_content {
    background: #005ac9;
    color: white;
    bottom: 10px;
  }
}

.mri_thumb {
  background: white;
  width: 270px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 6px 0 #aaa;
}

.mri_img {
  width: 100%;
  height: 270px;
}

.mri_imgLandscape {
  height: 270px;
  left: 0;
  position: absolute;
}

.mri_content {
  width: 230px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  text-align: center;
  background: white;
  color: #333;
  padding: 20px 20px 16px;
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
}

.mri_title {
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 500;
}

.mri_desc {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 18px;
  height: 36px;
  margin-top: 12px;
}

.mri_day {
  text-align: right;
  font-size: 12px;
  margin-top: 20px;
}

.mri_group {
  margin-top: 2px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.mri_author {
  font-weight: bold;
}

@media (max-width: 1024px) {
  .title-recent {
    display: block;
    font-size: 60px;
  }

  .recent-list {
    width: 100%;
    white-space: nowrap;
    font-size: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 720px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
  }
  .recent-list .recent-item {
    float: none;
    display: inline-block;
    margin: 0 !important;
  }
  .recent-list .recent-item ~ .recent-item {
    margin-left: 30px !important;
  }
  .recent-list::-webkit-scrollbar {
    width: 5px;
  }
  .recent-list::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .recent-list::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #1f82ff;
    border: 0 solid #fff;
  }
  .recent-list::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  .mri_content {
    opacity: 1;
    position: relative;
    background-image: none;
    height: calc(100% - 308px);
    display: block;
  }
  .mri_title {
    font-size: 40px;
    line-height: 52px;
    min-height: 114px;
    text-align: center;
    white-space: normal;
    padding: 30px;
    color: #000;
  }
  .mri_group {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #f6f6f6;
  }
}

@media (max-width: 768px) {
  .title-recent {
    font-size: 30px;
  }

  .recent-list {
    height: 375px;
  }
  .recent-list .recent-item ~ .recent-item {
    margin-left: 10px !important;
  }
  .mri_content {
    height: calc(100% - 154px);
  }
  .mri_title {
    font-size: 20px;
    line-height: 26px;
    min-height: 57px;
    padding: 15px;
  }
  .mri_group {
    padding: 10px;
  }
}

.sprite_d {
  @include sprite_d;
}
