
.pue_wrapper {
  @include d-flex;
}

.pue_input {
  @include mr(3);
  border-bottom: 1px solid #666666;
  border-left: none;
  border-right: none;
  border-top: none;
  background: none;
  font-size: 16px;
  position: relative;
  line-height: 1.38;
  letter-spacing: -0.2px;
  color: #4d4d4d;
  width: 170px;
  height: 21px;
  outline: none;

  &:hover,
  &:focus {
    border-color: $primary-color;
  }
}

.pue_inputWarning {
  border-color: red !important;
  margin-bottom: 10px;
}

.pue_okBtn {
  @include d-flex;
  @include mr(2);
  cursor: pointer;
  width: 48px;
  height: 22px;
  border-radius: 2px;
  border: solid 1px #b3b3b3;
  font-size: 12px;
  font-weight: 300;
  color: #4d4d4d;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $primary-color;
    border-color: $primary-color;
  }
}

.pue_okBtnDisabled {
  @include common_disabledBtn;
}

.pue_cancelBtn {
  @include d-flex;
  cursor: pointer;
  width: 48px;
  height: 22px;
  font-size: 12px;
  font-weight: 300;
  color: #4d4d4d;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #f92121;
  }
}

.pue_warningMsg {
  position: absolute;
  top: 25px;
  font-size: 11px;
  font-weight: 500;
  color: red;
}