
.dpn_wrapper {
  position: relative;
  width: 100%;
  min-height: 44px;
  padding: 10px 0;
  border-bottom: 1px solid #f2dc9d;
  z-index: 0;
}

.dpn_container {
  @include container;
  @include d-flex;
  z-index: 2;
  position: relative;
  text-align: center;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
}

.dpn_imgWrapper {
  margin: 0 10px 0 0;
}

.dpn_text {
  font-size: 14px;
  letter-spacing: -0.2px;
  color: #9c7600;
  display: inline-block;
  padding-right: 50px;
  @media all and (max-width: $sm-max-width) {
    text-align: left;
  }

  span:first-child {
    @include mr(3);
  }
}

.dpn_learnMore {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: $primary-color;
  cursor: pointer;
  border-bottom: 1px solid $primary-color;
  display: inline-block;
}

.dpn_close {
  position: absolute;
  right: 10px;
  top: 3px;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  color: #666666;

  &:hover {
    color: $primary-color;
  }
}

.dpn_dummy {
  background: #fff3d1;
  width: 100%;
  top: 0;
  z-index: 1;
  height: 100%;
  position: absolute;
}