.ml {
  background: #d4ecfc;
  padding: 80px 0;
  height: 700px;
  position: relative;
}

.ml_wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.ml_title {
  display: flex;
  align-items: center;
  font-size: 32px;
  color: #333;
  line-height: 100%;
  width: 100%;
  max-width: 1200px;

  & > b {
    margin-left: 8px;
  }
}

.ml_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  padding: 2px 4px;
  height: 20px;
  color: white;
  font-size: 14px;
  background-color: #005ac9;

  &:hover {
    background: white;
    color: #005ac9;
  }
}

.ml_point {
  font-weight: bold;
}

.ml_text {
  font-size: 20px;
  color: #888;
  margin-top: 20px;
  text-align: left;
  width: 100%;
  max-width: 1200px;
}

.ml_indicators {
  position: absolute;
  top: 140px;
  right: calc((100vw - 1280px) / 2 + 60px);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  @media (max-width: 1200px) {
    right: 40px;
  }
}

.ml_indicator {
  font-size: 30px;

  &:hover {
    cursor: pointer;
  }
}

.ml_libraries {
  margin-top: 44px;
  display: flex;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  width: 100vw;
  padding-left: calc((100vw - 1280px) / 2 + 80px);

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.ml_library {
  margin-right: 16px;
  opacity: 0.3;

  &.ml_library_active {
    opacity: 1;
  }
}

.ml_boxTitle {
  max-width: 1200px;
  margin: 90px auto 65px;
  justify-content: center;
  display: flex;
  align-items: center;

  @media (max-width: 1024px) {
    text-align: center;
    display: block;
  }
}

.ml_titleRecent {
  font-size: 45px;
  color: #000;
  letter-spacing: 3px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .ml_title {
    font-size: 50px;
  }
  .ml_point {
    font-size: 90px;
    display: block;
    margin-top: 16px;
  }
  .ml_text {
    font-size: 32px;
    margin-top: 32px;
  }
  .box-recent {
    width: 1024px;
    padding-left: 40px;
  }
  .ml_titleRecent {
    display: block;
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .ml_title {
    font-size: 25px;
  }
  .ml_point {
    font-size: 45px;
    margin-top: 8px;
  }
  .ml_text {
    font-size: 16px;
    margin-top: 16px;
  }
  .box-title {
    margin: 50px auto 35px;
  }
  .ml_titleRecent {
    font-size: 30px;
  }
}
