
.ma_avatarWrapper {
  display: block;
}

.ma_avatar {
  border-radius: 2rem;
  cursor: pointer;
  position: relative !important;
  margin-right: 10px;
  width: 33px;
  height: 33px;
  border: 1px solid #cccccc;
  transition: 0.2s all ease-in-out;
}

.ma_avatar_big {
  border-radius: 67%;
  border: 1px solid #cccccc;
  cursor: pointer;
  position: relative !important;
  margin-right: 10px;
  width: 89px;
  height: 89px;
  transition: 0.2s all ease-in-out;
}

.ma_defaultAvatar {
  border-radius: 2rem;
  cursor: pointer;
  position: relative !important;
  margin-right: 10px;
  width: 45px;
  height: 45px;
  border: 1px solid #cccccc;
  transition: 0.2s all ease-in-out;
}

.ma_avatarName {
  font-size: 16px;
  font-weight: 300;
  color: #4d4d4d;
}