.mis_swipe {
  max-width: 1200px;
  width: 100%;
  margin: 60px auto 0;

  @media (max-width: 576px) {
    margin: 40px auto 0;
  }
}

.mis_container_mobile {
  display: none;

  @media (max-width: 768px) {
    padding: 0;
    display: block;
  }

  > div > div {
    padding-top: 0 !important;
  }
}

.mis_container {
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }
}

.mis_cardWrapper {
  &:first-child {
    display: flex;
    width: 60%;
    height: inherit;

    @media (max-width: 768px) {
      padding-right: 0;
    }
  }

  &:last-child {
    width: 40%;
  }
}

.mis_card {
  position: relative;
  height: calc(50% - 1rem);
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  width: 100%;

  @media (max-width: 768px) {
    display: block;
  }
}

.mis_cardVertical {
  @extend .mis_card;
  height: 100%;
}

.mis_imageWrapper {
  height: 100%;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    margin-top: 2rem;
  }
}

.mis_uploadImage {
  content: '';
  display: block;
  min-width: 180px;
  width: 100%;
  height: 145px;
  background: url('/static/image/insight-bg1.png') no-repeat 0 0 / contain; //url($image-url +'/main/insight-bg1.png') no-repeat 0 0 / contain;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 210px;
  }
}

.mis_openLibraryImage {
  content: '';
  display: block;
  min-width: 180px;
  width: 100%;
  height: 145px;
  background: url('/static/image/insight-bg2.png') no-repeat 0 0 / contain; // url($image-url +'/main/insight-bg2.png') no-repeat 0 0 / contain;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 210px;
  }
}

.mis_uploadContents,
.mis_openLibraryContents {
  text-align: left;
  margin-right: 24px;

  > div:first-child {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #224390;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  div:last-child {
    color: #aaa;

    @media (max-width: 920px) {
      font-size: 14px;
    }

    div {
      @media (max-width: 768px) {
        text-align: left;
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-left: 0;
  }
}

.mis_rewardContents {
  @extend .mis_uploadContents;
  margin: 0;
  text-align: center;
  width: 100%;

  img {
    width: 95%;
  }
}

.mis_subTitle {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  border-bottom: 1px solid black;

  > span:first-child {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;

    @media (max-width: 920px) {
      font-size: 16px;
    }

    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  > span:nth-child(2) {
    font-size: 16px;
    font-weight: normal;
    color: #aaa;

    @media (max-width: 920px) {
      font-size: 14px;
    }

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }
}
