.mhs_search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 80px 0;

  @media (max-width: 576px) {
    position: absolute;
    top: 11px;
    right: 60px;
    width: 50vw;
    height: 32px;
    padding: 0;
    background: transparent;
  }

  input {
    width: 100%;
    height: 100%;
    font-size: 24px;
    padding: 0px 20px;
    border: none;
    background: transparent;
    color: white;

    &::placeholder {
      color: #ccc;
      font-weight: normal;
    }

    @media (max-width: 576px) {
      padding-left: 4px;
      font-size: 14px;
      color: white;
    }
  }
}

.mhs_search_wrapper {
  width: 100%;
  max-width: 475px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px 12px 0;
  border-bottom: 2px solid white;

  @media (max-width: 576px) {
    padding: 4px;
  }
}

.mhs_tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 100%;
  max-width: 475px;

  @media (max-width: 576px) {
    display: none;
  }
}

.mhs_tag {
  margin-right: 4px;

  > button {
    background: transparent;
    color: white;
    padding: 4px;
    font-size: 18px;

    &:hover {
      background: white;
      color: #333;
      cursor: pointer;
    }
  }
}

.mhs_btnSearch {
  width: 58px;
  height: 58px;
  cursor: pointer;
  background: url($image-url+'/icon/btn-search.png') no-repeat 0 0;

  @media (max-width: 576px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background: url($image-url+'/icon/btn-search-m.png') no-repeat 0 0 / contain;
  }
}

.mhs_hide {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  color: transparent !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
