.mfrs_container {
  width: 100%;
  max-width: 1200px;
  padding: 80px 40px;
  margin: 0 auto;

  .mfrs_title {
    display: flex;
    align-items: center;
    font-size: 32px;
    color: #333;
    line-height: 100%;
    width: 100%;
    max-width: 1200px;

    & > b {
      margin-left: 8px;
    }
  }
}

.mfrs_list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.mfrs_item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
  max-width: 384px;
  margin-right: 16px;
  margin-bottom: 16px;
  transition: all ease 0.3s;
}
