.c_wrapper {
  background: white;
  height: 45px;
  z-index: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.c_tagsMenuContainer {
  @include container;
  width: inherit;
  height: inherit;
}

.c_tagsMenu {
  @include d-flex;
  margin: 5px 0;
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 65px;
  padding: 0 16px;

  li {
    list-style: none;
    min-height: 2rem;
    padding: 0 1rem;

    &:first-child {
      padding-left: 0;

      a {
        color: $second-color !important;
      }
    }

    a {
      cursor: pointer;
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 7px 0;
      font-weight: 400;
      color: #666666;
      font-size: 13px;
      -webkit-transition: 0.2s all ease-in-out;
      transition: 0.2s all ease-in-out;
      text-transform: uppercase;

      &:hover {
        color: $second-color !important;
      }
    }
  }
}