.cl_container {
  @include container;
  padding-bottom: 140px;
  min-height: calc(100vh - 166px - 1.5rem);

  @media all and (max-width: $sm-max-width) {
    border: none;
    padding: 0;
  }
}

.cl_noIconWrapper {
  @include mt(5);
}

.cl_itemWrapper {
  @include inner-container;

  &:hover {
    .cb_bookmark > i {
      display: inline-block !important;
    }
  }
}

.cl_spinner {
  text-align: center;
  margin: 3rem;
}