.dm_qrWrapper {
  width: 100%;
  text-align: center;

  img {
    max-height: 200px;
  }
}

.dm_qr {
  @include p(0);
  @include p-sm(4);
  @include pt(5);
  text-align: center;
  font-weight: bold;
}

.dm_copyDummy {
  position: absolute;
  left: -9999px;
}