.h_container {
  @include container;
  @include d-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: {
    right: auto;
    left: auto;
  }
  min-height: 60px;

  @media (min-width: $lg-min-width) {
    flex-wrap: nowrap;
  }
  @media (max-width: $sm-max-width) {
    min-height: 50px;
  }
}

.h_dummy {
  width: 100%;
  height: 60px;

  @media (max-width: $sm-max-width) {
    height: 55px !important;
  }
}

.h_fixed {
  position: fixed;
  left: 0;
  top: 0;
}