.mis_swipe {
  max-width: 1200px;
  width: 100%;
  margin: 60px auto 0;

  @media (max-width: 1024px) {
    margin: 10vw auto 0;
  }
}

.mis_container_mobile {
  display: none;

  @media (max-width: 1024px) {
    padding: 0;
    display: block;
  }

  > div > div {
    padding-top: 0 !important;
  }
}

.mis_container {
  display: flex;

  @media (max-width: 1024px) {
    display: none;
  }
}

.mis_cardWrapper {
  &:first-child {
    width: 60%;
    padding-right: 2rem;
    height: inherit;

    @media (max-width: 1024px) {
      padding-right: 0;
    }
  }

  &:last-child {
    width: 40%;
  }

}

.mis_card {
  position: relative;
  background: #25aef4;
  height: calc(50% - 1rem);
  border-radius: 35px;
  padding: 2rem;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  display: flex;
  width: 100%;

  &:first-child {
    margin-bottom: 2rem;

    @media (max-width: 1024px) {
      margin-bottom: 0;
    }
  }


  @media (max-width: 1024px) {
    padding: 1rem;
    margin: 0 1rem;
    width: calc(100% - 2rem);
    display: block;
    min-height: 514.16px;
  }
}

.mis_cardVertical {
  @extend .mis_card;
  height: 100%;
}

.mis_imageWrapper {
  height: 100%;
  display: flex;
  align-items: center;

  @media (max-width: 1024px) {
    margin-top: 2rem;
  }
}

.mis_uploadImage {
  content: "";
  display: block;
  width: 250px;
  height: 145px;
  background: url($image-url +'/main/insight-bg1.png') no-repeat 0 0 / contain;
  margin: 0 auto;

  @media (max-width: 1024px) {
    width: 210px;
  }
}

.mis_openLibraryImage {
  content: "";
  display: block;
  width: 250px;
  height: 145px;
  background: url($image-url +'/main/insight-bg2.png') no-repeat 0 0 / contain;
  margin: 0 auto;

  @media (max-width: 1024px) {
    width: 210px;
  }
}

.mis_uploadContents,
.mis_openLibraryContents {
  text-align: left;
  margin-left: 1rem;
  width: 80%;

  div:first-child {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #224390;

    @media (max-width: 1024px) {
      text-align: center;
    }
  }

  div:last-child {
    color: white;
    font-weight: 500;

    @media (max-width: 1024px) {
      margin-top: 2rem;
    }

    div {
      margin-top: 1rem;
      font-size: .9rem;

      @media (max-width: 1024px) {
        text-align: left;
      }
    }
  }

  @media (max-width: 1024px) {
    width: 100%;
    margin-left: 0;
  }
}

.mis_rewardContents {
  @extend .mis_uploadContents;
  margin: 0;
  text-align: center;
  width: 100%;

  @media (max-width: 1024px) {
    img {
      width: 100%;
    }
  }
}
