.mfrs_container {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 155px;

  h3 {
    font-size: 45px;
    color: #000;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center
  }
}

.mfrs_list {
  margin: 65px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 430px
}

.mfrs_item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
  max-width: 232px;
  transition: all ease .3s
}

.mfrs_item ~ .mfrs_item {
  margin-left: 10px
}


.mfrs_item:hover {
  flex: 0 0 310px;
  max-width: 310px
}


@media (max-width: 1024px) {
  .mfrs_container {
    width: 1024px;
    padding: 0 0 200px 40px;

    h3 {
      font-size: 59px;
      line-height: 100%
    }
  }

  .mfrs_list {
    margin: 64px 0 0;
    display: block;
    font-size: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 720px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
  }
  .mfrs_list::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }
  .mfrs_list::-webkit-scrollbar-track {
    background-color: transparent
  }
  .mfrs_list::-webkit-scrollbar-thumb {
    background-color: #1f82ff;
    border: 0 solid #fff;
  }
  .mfrs_list::-webkit-scrollbar-button {
    width: 0;
    height: 0
  }
  .mfrs_item:hover,
  .mfrs_item {
    width: 495px;
    max-width: 495px
  }
  .mfrs_item {
    display: inline-block
  }
}

@media (max-width: 768px) {
  .mfrs_container {
    width: 100%;
    padding: 0 15px 100px 15px;

    h3 {
      font-size: 30px
    }
  }

  .mfrs_list {
    margin: 35px 0 0;
    height: 375px
  }
  .mfrs_item:hover,
  .mfrs_item {
    width: 250px;
    max-width: 250px
  }
}