.mtli_container {
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  height: 300px;
  transition: all ease 0.3s;
  position: relative;
  background-color: #fff;
}

.mtli_thumb {
  position: relative;
  height: 132px;
  overflow: hidden;

  span {
    text-transform: uppercase;
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 24px;
    border: 1px solid #fff;
    border-radius: 6px;
    text-align: center;
    min-width: 56px;
    padding: 0 10px;
    line-height: 22px;
    color: #fff;
    background-color: #0065e4;
    font-weight: 600;
    font-size: 14px;
  }
}

.mtli_title {
  margin: 16px 14px 12px;
  line-height: 21px;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  min-height: 42px;
  overflow: hidden;

  a {
    display: block;
    color: #000;
  }
}

.mtli_contentItemWrapper {
  padding: 0 0 0 14px;
  display: flex;

  div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      margin-right: 5px;
    }
  }
}

.mtli_money {
  font-size: 10px;
  color: #0071ff;
  font-weight: 600;
}

.mtli_number {
  font-size: 10px;
  color: #323232;
}

.mtli_infoContainer {
  background-color: #f6f6f6;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mtli_info {
  display: flex;
  align-items: center;
}

.mtli_avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-right: 8px;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    vertical-align: top;
  }
}

.mtli_img {
  width: 100%;
}

.mtli_imgLandscape {
  height: 100%;
  position: absolute;
}

.mtli_id {
  font-size: 12px;
  color: #2e2e2e;
}

.mtli_time {
  font-size: 10px;
  line-height: 12px;
  color: #818181;
}

.mfrs_item:hover {
  .mtli_container {
    height: 430px;
  }

  .mtli_thumb {
    height: 190px;
  }

  .mtli_thumb span {
    height: 30px;
    min-width: 72px;
    font-size: 18px;
    line-height: 28px;
  }

  .mtli_title {
    font-size: 21px;
    line-height: 31px;
    min-height: 62px;
    margin: 24px 20px;
  }

  .mtli_avatar {
    margin-right: 14px;
    width: 45px;
    height: 45px;

    @media (min-width: 1025px) {
      div {
        width: 45px !important;
        height: 45px !important;
      }
    }
  }

  .mtli_id {
    font-size: 18px;
  }

  .mtli_time {
    font-size: 14px;
    line-height: 16px;
  }

  [class^='sp-ico-'] {
    width: 30px;
    height: 30px;
  }

  .sp-ico-a {
    background-position: 0 -20px;
  }

  .sp-ico-b {
    background-position: -30px -20px;
  }

  .sp-ico-c {
    background-position: -60px -20px;
  }

  .mtli_money {
    font-size: 14px;
  }

  .mtli_number {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .mfrs_item:hover .mtli_container,
  .mfrs_item .mtli_container {
    height: 694px;
    border-radius: 72px;
  }
  .mfrs_item .mtli_thumb,
  .mfrs_item:hover .mtli_thumb {
    height: 308px;
  }
  .mfrs_item .mtli_thumb span,
  .mfrs_item:hover .mtli_thumb span {
    height: 48px;
    line-height: 46px;
    border-radius: 12px;
    font-size: 28px;
    min-width: 112px;
  }
  .mfrs_item .mtli_title,
  .mfrs_item:hover .mtli_title {
    font-size: 40px;
    line-height: 52px;
    min-height: 114px;
    text-align: center;
    white-space: normal;
    margin: 30px;
  }
  .mfrs_item:hover [class^='sp-ico-'] {
    width: 40px;
    height: 40px;
  }
  .mfrs_item:hover .sp-ico-a {
    background-position: 0 0;
  }
  .mfrs_item:hover .sp-ico-b {
    background-position: -40px 0;
  }
  .mfrs_item:hover .sp-ico-c {
    background-position: -80px 0;
  }
  .mfrs_item:hover .mtli_infoContainer .mtli_info .mtli_avatar,
  .mtli_avatar {
    width: 72px;
    height: 72px;
    margin-right: 20px;
  }
  .mtli_infoContainer {
    padding: 30px;
  }
  .mtli_id,
  .mfrs_item:hover .mtli_infoContainer .mtli_info .mtli_id {
    font-size: 29px;
  }
  .mtli_time,
  .mfrs_item:hover .mtli_infoContainer .mtli_time {
    line-height: 28px;
    font-size: 23px;
  }
  .mtli_money,
  .mtli_number,
  .mfrs_item:hover .mtli_contentItemWrapper .mtli_money,
  .mfrs_item:hover .mtli_contentItemWrapper .mtli_number {
    font-size: 23px;
  }
  .mfrs_item .mtli_contentItemWrapper > div > i {
    margin-right: 12px;
  }
}

@media (max-width: 768px) {
  .mfrs_item:hover .mtli_container,
  .mfrs_item .mtli_container {
    height: 347px;
    border-radius: 36px;
  }
  .mfrs_item .mtli_thumb,
  .mfrs_item:hover .mtli_thumb {
    height: 154px;
  }
  .mfrs_item .mtli_thumb span,
  .mfrs_item:hover .mtli_thumb span {
    height: 24px;
    line-height: 23px;
    border-radius: 6px;
    font-size: 14px;
    min-width: 56px;
  }
  .mfrs_item .mtli_title,
  .mfrs_item:hover .mtli_title {
    font-size: 20px;
    line-height: 26px;
    min-height: 57px;
    margin: 15px;
  }
  .mfrs_item:hover [class^='sp-ico-'] {
    width: 20px;
    height: 20px;
  }
  .mfrs_item:hover .sp-ico-a {
    background-position: 0 0;
  }
  .mfrs_item:hover .sp-ico-b {
    background-position: -20px 0;
  }
  .mfrs_item:hover .sp-ico-c {
    background-position: -40px 0;
  }
  .mfrs_item:hover .mtli_infoContainer .mtli_info .mtli_avatar,
  .mtli_avatar {
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }
  .mtli_infoContainer {
    padding: 15px;
  }
  .mtli_id,
  .mfrs_item:hover .mtli_infoContainer .mtli_info .mtli_id {
    font-size: 15px;
  }
  .mtli_time,
  .mfrs_item:hover .mtli_infoContainer .mtli_time {
    line-height: 14px;
    font-size: 11px;
  }
  .mtli_money,
  .mtli_number,
  .mfrs_item:hover .mtli_contentItemWrapper .mtli_money,
  .mfrs_item:hover .mtli_contentItemWrapper .mtli_number {
    font-size: 11px;
  }
  .mfrs_item .mtli_contentItemWrapper > div > i {
    margin-right: 6px;
  }
}
