.mlm_subjectWrapper {
  @include inner-container;
  @include pb(3);
  @include d-flex;
}

.mlm_subject {
  width: 100px;
  border-radius: 33px;
  height: 2rem;
  background: linear-gradient(310deg, #ffffff, #d5d5d5);
  background-size: 800% 800%;
  -webkit-animation: mock-gradient-animation 4s ease infinite;
  -moz-animation: mock-gradient-animation 4s ease infinite;
  animation: mock-gradient-animation 4s ease infinite;
}

.mlm_documentCardMockWrapper {
  @include inner-container;
  @include row;
  position: relative;
  margin-bottom: 65px;
  @media (max-width: $md-max-width) {
    justify-content: center;
    border-bottom: 1px solid #e8e8e8;
  }

  div:last-child {
    margin-right: 0 !important;
  }
}