.mcl_subjectWrapper {
  @include inner-container;
  @include pb-sm(3);
  @include d-flex;

  a {
    display: flex;
  }
}

.mcl_subject {
  font-size: 22px;
  display: inline-block;
  font-weight: 500;
  color: #4d4d4d;
  cursor: pointer;
  font-family: $primary-fonts, sans-serif;
  text-transform: uppercase;
  margin-right: 10px;

  &:hover {
    color: $primary-color;
  }

  &:hover + .mcl_seeAll {
    max-height: 33px;
    opacity: 1 !important;
  }


  @media (max-width: $sm-max-width) {
    @include m(3);
  }
}

.mcl_seeAll {
  max-height: 0;
  transition: max-width 1s, opacity 1s, transform 750ms, -webkit-transform 750ms,
  -moz-transform 750ms, -o-transform 750ms;
  opacity: 0;
  font-size: 16px;
  color: #808080;
  position: relative;
  font-family: $primary-fonts;
  cursor: default;

  i {
    font-size: 24px;
    top: 6px;
    position: relative;
  }

  @media (max-width: 480px) {
    margin-right: 0 !important;
    margin-top: 1rem;
  }
}

.mcl_documentCardWrapper {
  @include inner-container;
  @include row;
  position: relative;
  margin-bottom: 65px;

  @media (max-width: $md-max-width) {
    margin-right: 0 !important;
  }

  &:last-child {
    @media (max-width: $md-max-width) {
      margin-bottom: 0 !important;
    }
  }
}