.more_container {
  @include container;
  @include mb(5);
  @include pb(5);
  @include mt(5);
}

.more_subject {
  @extend .faq_subject;
}

.more_content {
  @include row;
  justify-content: center !important;
}

.more_item {
  @include d-flex;
  margin: 20px 20px;
  width: 168px;
  height: 168px;
  justify-content: center;
  align-items: center;
  border: 1px solid #b3b3b3;
  cursor: pointer;
  text-transform: uppercase;
  color: #666666;
  font: {
    family: $primary-fonts;
    size: 14px;
    weight: 300;
  }

  &:hover {
    background: linear-gradient(238deg, #813dd0, #2373f9, #2a4e8a);
    background-size: 600% 600%;
    color: white;
    -webkit-animation: mock-gradient-animation 5s ease infinite;
    -moz-animation: mock-gradient-animation 5s ease infinite;
    -o-animation: mock-gradient-animation 5s ease infinite;
    animation: mock-gradient-animation 5s ease infinite;
  }
}