.nfpw_wrapper {
  @include d-flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 190px);
}

.nfpw_container {
  @include container;
  color: #a2a2a2;
  font-size: 16px;
  display: inline-block;
  text-align: center;

  @media all and (max-width: $sm-max-width) {
    margin-top: 45% !important;
  }

  i {
    font-size: 70px;
    color: #cccccc;
  }

  span {
    color: $primary-color;
    margin: 0 10px;
    font-weight: bold;
  }
}