.pat_container {
  @extend .put_container;
}

.pat_totalNum {
  @extend .put_totalNum;
}

.pat_spinner {
  @extend .put_spinner;
}

.pat_inner {
  @include row;
  margin: 10px 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #cecece;
}

.pat_thumbWrapper {
  @include pl(0);
  @include col-sm(2);
  display: none;

  @media (min-width: $sm-min-width) {
    display: inline-block !important;
  }
}

.pat_thumb {
  width: 80px;
  height: 50px;
  overflow: hidden;
  text-align: center;

  img {
    width: 100%;
  }
}

.pat_titleWrapper {
  @include col(10);
  @include col-sm(7);
  @include mb(4);
}

.pat_title {
  position: relative;
  top: 13px;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }
}

.pat_date {
  @include col-sm(2);
  display: none;
  padding-top: 1rem;
  font-size: 12px;

  @media (min-width: $sm-min-width) {
    display: inline-block !important;
  }
}

.pat_btn {
  position: relative;
  top: -2px;
  cursor: pointer;

  i {
    position: absolute;
    left: 20px;
    top: 12px;
    margin-right: 10px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.5;

    img {
      height: 10px;
    }
  }
}

.pat_btnOn {
  @extend .pat_btn;

  i {
    top: 1rem;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.pat_chartWrapper {
  @include col(12);
}

.pat_dateBtn {
  @include d-flex;
  @include ml(3);
  @include ml-sm(4);
  height: 25px;
  justify-content: center;

  div {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    cursor: pointer;

    &:not(:last-child):after {
      content: '';
      display: inline-block;
      width: 1px;
      height: 12px;
      margin: 0 12px;
      background-color: #999999;
      vertical-align: middle;
    }

    &:hover {
      color: $primary-color;
    }
  }
}

.pat_clicked {
  color: $primary-color;
}

.pat_exportBtn {
  @extend .common_toolBtn;
  float: right;
  z-index: 1;
}