.pcti_container {
  @extend .puti_container;
}

.pcti_thumbWrapper {
  @extend .puti_thumbWrapper;
}

.pcti_thumb {
  @extend .puti_thumb;
}

.pcti_cardImg {
  @extend .puti_cardImg;
}

.pcti_contentWrapper {
  position: relative;
  width: 100%;
  max-width: calc(100% - 100px - 1rem);
  margin: 0 0 0 1rem;
}

.pcti_title,
.pcti_title > i {
  @include mb(1);
  cursor: pointer;
  display: inline-block;
  line-height: 1.38;
  letter-spacing: -0.2px;
  color: #4d4d4d;
  font: {
    size: 16px;
    weight: bold;
  }

  &:hover {
    color: $primary-color;
  }
}

.pcti_descWrapper {
  @extend .puti_descWrapper;
}

.pcti_infoWrapper {
  @extend .puti_infoWrapper;
}

.pcti_reward {
  @extend .puti_reward;
}

.pcti_arrow {
  @extend .puti_arrow;
}

.pcti_view {
  @extend .puti_view;
}

.pcti_vote {
  @extend .puti_vote;
}

.pcti_date {
  @extend .puti_date;
}

.pcti_claimBtnWrapper {
  float: right;
}