.rc_container {
  position: absolute;
  min-height: 40px;
  background: $second-color;
  z-index: 1;
  width: 300px;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  padding: 10px 1rem;

  div > span {
    font-weight: bold;
    margin: 5px;
  }
}