.v_container {
  @include containerEnabledFull;
  @include mt(0);
  @include mt-sm(4);

  @media all and (max-width: $md-max-width) {
    margin: 0 -15px !important;
    max-width: calc(100% + 2rem) !important;
  }
}

.v_carousel {
  position: relative;
  min-height: 300px;
  border: 1px solid #e8e8e8;

  @media all and (max-width: $md-max-width) {
    border-radius: 0;
    border-right: none;
    border-left: none;
    border-top: none;
  }

  @media all and (max-width: $sm-max-width) {
    min-height: 179px !important;
  }
}

.v_optionBar {
  @extend .common_viewerBtn;
  position: absolute;
  top: 10px;
  right: 14px;
  z-index: 3;
}

.v_option {
  cursor: pointer;
  background: #00000078;
  position: absolute;
  right: 0;
  min-width: 105px;
  padding: 5px 8px;
  color: #fff;
  text-align: center;
  font-size: 13px;

  div {
    min-width: 105px;
    padding: 5px 8px;
    color: white;
    text-align: center;

    &:hover {
      background: #00000099;
    }
  }
}

.v_viewerBtn {
  @extend .common_viewerBtn;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
}