.vpv_container {
  @include mt(0);
  @include mt-sm(5);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #e8e8e8;

  @media all and (max-width: $md-max-width) {
    margin: 0 -15px !important;
    max-width: calc(100% + 2rem) !important;
  }
}

.vpv_wrapper {
  @include containerEnabledFull;
  @include mt(0);

  @media all and (max-width: $md-max-width) {
    margin: 0 -15px !important;
    max-width: calc(100% + 2rem) !important;
  }
}

.vpv_thumbnailWrapper {
  width: 100%;

  img {
    width: 100%;
  }
}