
.mhlb_btnLogin {
  position: absolute;
  top: 30px;
  right: 0;
  width: 116px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  color: #6e6e6e;
  font-size: 14px;
  padding: 0 22px;
  cursor: pointer;

  &:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url($image-url +'/main/ico-login.png') no-repeat 0 0;
    vertical-align: middle;
    margin-right: 5px;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  @media (max-width: 1024px) {
    position: absolute;
    top: 11px;
    right: 15px;
    width: 36px;
    height: 36px;
    background: transparent;
    border-radius: 0;
    padding: 0;
    background: url($image-url +'/main/ico-login-m.png') no-repeat 0 0 / contain;

    &:before, span {
      display: none
    }
  }
}