.mss_container {
  // background: url($image-url+'/main/main-bg.png') no-repeat -10vw 0 / contain;
  height: 830px;
  position: relative;
  text-align: center;

  @media (max-width: 1400px) {
    height: calc(63vw);
    max-height: 830px;
  }

  @media (max-width: 850px) {
    height: calc(65vw);
    max-height: none;
  }

  @media (max-width: 768px) {
    height: calc(125vw);
  }
}

.mss_card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -120px;
  left: 60px;
  padding: 70px 60px;
  width: calc(100vw - 60px);
  background: white;
  box-shadow: 0 2px 4px 0 #aaa;

  @media (max-width: 1024px) {
    padding: 50px 40px;
    left: 40px;
  }

  @media (max-width: 576px) {
    padding: 36px 26px;
    left: 20px;
    width: calc(100vw - 20px);
  }
}

.mss_title {
  text-align: left;
  font-size: 32px;
  color: #333;
  line-height: 100%;
  width: 100%;
  max-width: 1200px;

  @media (max-width: 576px) {
    font-size: 24px;
  }
}

.mss_point {
  font-weight: bold;
}

.mss_text {
  font-size: 24px;
  color: #454545;
  margin-top: 12px;
  text-align: left;
  width: 100%;
  max-width: 1200px;

  @media (max-width: 576px) {
    margin-top: 10px;
    font-size: 16px;
  }
}
