.mtli_container {
  flex-grow: 1;
  position: relative;
  background-color: #fff;
  width: 320px;
  height: 290px;
  margin-right: 16px;
  margin-bottom: 16px;
  transition: all ease 0.3s;
  box-shadow: 0 2px 4px #aaa;

  &:hover .mtli_content {
    opacity: 1;
  }

  @media (max-width: 576px) {
    flex-grow: unset;
    width: calc((100vw - 50px) / 2);
    height: calc((100vw - 50px) / 2 + 50px);
    margin-right: 10px;
  }
}

.mtli_thumb {
  position: relative;
  height: 290px;
  overflow: hidden;

  @media (max-width: 576px) {
    width: calc((100vw - 50px) / 2);
    height: calc((100vw - 50px) / 2 - 50px);
  }

  img {
    height: 290px;

    @media (max-width: 576px) {
      width: calc((100vw - 50px) / 2);
      height: calc((100vw - 50px) / 2 - 50px);
    }
  }
}

.mtli_content {
  opacity: 0;
  background: white;
  width: 100%;
  height: 290px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 64px 24px 30px;

  @media (max-width: 576px) {
    opacity: 1;
    position: static;
    height: 100px;
    padding: 18px 16px 16px;
  }
}

.mtli_title {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: 576px) {
    font-size: 14px;
  }
}

.mtli_desc {
  color: #888;
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  height: 96px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;

  @media (max-width: 576px) {
    display: none;
  }
}

.mtli_contentItemWrapper {
  margin-top: 36px;
  display: flex;
  justify-content: space-around;

  @media (max-width: 576px) {
    margin-top: 20px;
  }

  div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      margin-right: 5px;

      @media (max-width: 576px) {
        margin-right: 3px;
      }
    }
  }
}

.mtli_money {
  font-size: 12px;
  color: #0071ff;
  font-weight: 600;

  @media (max-width: 576px) {
    font-size: 10px;
  }
}

.mtli_number {
  font-size: 12px;
  color: #323232;

  @media (max-width: 576px) {
    font-size: 10px;
  }
}

.mtli_infoContainer {
  position: absolute;
  top: 20px;
  right: 20px;

  @media (max-width: 576px) {
    top: 12px;
    right: 12px;
  }
}

.mtli_info {
  background: #ccc;
  padding-right: 12px;
  border-radius: 30px;
  display: flex;
  align-items: center;

  @media (max-width: 576px) {
    padding-right: 6px;
  }
}

.mtli_avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-right: 8px;
  display: flex;
  align-items: center;

  @media (max-width: 576px) {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  img {
    width: 100%;
    vertical-align: top;
  }
}

.mtli_img {
  width: 100%;
}

.mtli_imgLandscape {
  height: 100%;
  position: absolute;
}

.mtli_id {
  font-size: 12px;
  color: #2e2e2e;

  @media (max-width: 576px) {
    font-size: 10px;
  }
}

.mtli_time {
  font-size: 10px;
  line-height: 12px;
  color: #818181;
}

.sprite_a {
  @include sprite_a;
}

.sprite_b {
  @include sprite_b;
}

.sprite_c {
  @include sprite_c;
}
