
.h_container {
  @include container;
  @include d-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: {
    right: auto;
    left: auto;
  }
  min-height: 100px;

  @media (max-width: $lg-max-width) {
    min-height: 50px;
    background: rgba(29,35,42,0.9);
  }
}

.h_dummy {
  width: 100%;
  height: 170px;

  @media (max-width: $lg-max-width) {
    height: 90px !important;
  }
}

.h_fixed {
  position: fixed;
  left: 0;
  top: 0;
}