/*Poppins font*/

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url($font-url +'/poppins/Poppins-Light.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url($font-url +'/poppins/Poppins-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url($font-url +'/poppins/Poppins-SemiBold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url($font-url +'/poppins/Poppins-Bold.otf') format('opentype');
  font-display: swap;
}