//======================================
//          SCSS COMMON FUNCTION
// =====================================

/* N/12 to % */
@function divided-12($n) {
  @return percentage($n/12);
}

@function getGutter($n) {
  @if $n == 0 {
    @return 0;
  } @else if $n == 1 {
    @return 0.25rem;
  } @else if $n == 2 {
    @return 0.5rem;
  } @else if $n == 3 {
    @return 1rem;
  } @else if $n == 4 {
    @return 1.5rem;
  } @else if $n == 5 {
    @return 3rem;
  }
}

//======================================
//              SCSS COMMON MIXIN
// =====================================

@mixin monotone-grey {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@mixin d-flex {
  display: flex;
  display: -webkit-flexbox;
}

@mixin row {
  @include d-flex;
  flex-wrap: wrap;
}

@mixin col-common {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: getGutter(3);
  padding-left: getGutter(3);

  &:first-child {
    padding-left: 0 !important;
  }

  &:last-child {
    padding-right: 0 !important;
  }
}

@mixin container {
  padding: 0 1rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  @media (min-width: 1140px) {
    max-width: 1280px;
  }
  @media (max-width: $md-max-width) {
    max-width: 100%;
  }
}

@mixin inner-container {
  @include container;
  @include pl(0);
  @include pr(0);
}

@mixin containerEnabledFull {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  @media (min-width: 1140px) {
    max-width: 1280px;
  }
  @media (max-width: $sm-max-width) {
    padding: 0;
    max-width: 100%;
  }
}

@mixin m($num) {
  margin: getGutter($num);
}

@mixin m-sm($num) {
  @media (min-width: $sm-min-width) {
    margin: getGutter($num);
  }
}

@mixin m-md($num) {
  @media (min-width: $md-min-width) {
    margin: getGutter($num);
  }
}

@mixin m-lg($num) {
  @media (min-width: $lg-min-width) {
    margin: getGutter($num);
  }
}

@mixin m-xl($num) {
  @media (min-width: $xl-min-width) {
    margin: getGutter($num);
  }
}

@mixin mt($num) {
  margin-top: getGutter($num);
}

@mixin mt-sm($num) {
  @media (min-width: $sm-min-width) {
    margin-top: getGutter($num);
  }
}

@mixin mt-md($num) {
  @media (min-width: $md-min-width) {
    margin-top: getGutter($num);
  }
}

@mixin mt-lg($num) {
  @media (min-width: $lg-min-width) {
    margin-top: getGutter($num);
  }
}

@mixin mt-xl($num) {
  @media (min-width: $xl-min-width) {
    margin-top: getGutter($num);
  }
}

@mixin mr($num) {
  margin-right: getGutter($num);
}

@mixin mr-sm($num) {
  @media (min-width: $sm-min-width) {
    margin-right: getGutter($num);
  }
}

@mixin mr-md($num) {
  @media (min-width: $md-min-width) {
    margin-right: getGutter($num);
  }
}

@mixin mr-lg($num) {
  @media (min-width: $lg-min-width) {
    margin-right: getGutter($num);
  }
}

@mixin mr-xl($num) {
  @media (min-width: $xl-min-width) {
    margin-right: getGutter($num);
  }
}

@mixin ml($num) {
  margin-left: getGutter($num);
}

@mixin ml-sm($num) {
  @media (min-width: $sm-min-width) {
    margin-left: getGutter($num);
  }
}

@mixin ml-md($num) {
  @media (min-width: $md-min-width) {
    margin-left: getGutter($num);
  }
}

@mixin ml-lg($num) {
  @media (min-width: $lg-min-width) {
    margin-left: getGutter($num);
  }
}

@mixin ml-xl($num) {
  @media (min-width: $xl-min-width) {
    margin-left: getGutter($num);
  }
}

@mixin mb($num) {
  margin-bottom: getGutter($num);
}

@mixin mb-sm($num) {
  @media (min-width: $sm-min-width) {
    margin-bottom: getGutter($num);
  }
}

@mixin mb-md($num) {
  @media (min-width: $md-min-width) {
    margin-bottom: getGutter($num);
  }
}

@mixin mb-lg($num) {
  @media (min-width: $lg-min-width) {
    margin-bottom: getGutter($num);
  }
}

@mixin mb-xl($num) {
  @media (min-width: $xl-min-width) {
    margin-bottom: getGutter($num);
  }
}

@mixin p($num) {
  padding: getGutter($num);
}

@mixin p-sm($num) {
  @media (min-width: $sm-min-width) {
    padding: getGutter($num);
  }
}

@mixin p-md($num) {
  @media (min-width: $md-min-width) {
    padding: getGutter($num);
  }
}

@mixin p-lg($num) {
  @media (min-width: $lg-min-width) {
    padding: getGutter($num);
  }
}

@mixin p-xl($num) {
  @media (min-width: $xl-min-width) {
    padding: getGutter($num);
  }
}

@mixin pt($num) {
  padding-top: getGutter($num);
}

@mixin pt-sm($num) {
  @media (min-width: $sm-min-width) {
    padding-top: getGutter($num);
  }
}

@mixin pt-md($num) {
  @media (min-width: $md-min-width) {
    padding-top: getGutter($num);
  }
}

@mixin pt-lg($num) {
  @media (min-width: $lg-min-width) {
    padding-top: getGutter($num);
  }
}

@mixin pt-xl($num) {
  @media (min-width: $xl-min-width) {
    padding-top: getGutter($num);
  }
}

@mixin pr($num) {
  padding-right: getGutter($num);
}

@mixin pr-sm($num) {
  @media (min-width: $sm-min-width) {
    padding-right: getGutter($num);
  }
}

@mixin pr-md($num) {
  @media (min-width: $md-min-width) {
    padding-right: getGutter($num);
  }
}

@mixin pr-lg($num) {
  @media (min-width: $lg-min-width) {
    padding-right: getGutter($num);
  }
}

@mixin pr-xl($num) {
  @media (min-width: $xl-min-width) {
    padding-right: getGutter($num);
  }
}

@mixin pl($num) {
  padding-left: getGutter($num);
}

@mixin pl-sm($num) {
  @media (min-width: $sm-min-width) {
    padding-left: getGutter($num);
  }
}

@mixin pl-md($num) {
  @media (min-width: $md-min-width) {
    padding-left: getGutter($num);
  }
}

@mixin pl-lg($num) {
  @media (min-width: $lg-min-width) {
    padding-left: getGutter($num);
  }
}

@mixin pl-xl($num) {
  @media (min-width: $xl-min-width) {
    padding-left: getGutter($num);
  }
}

@mixin pb($num) {
  padding-bottom: getGutter($num);
}

@mixin pb-sm($num) {
  @media (min-width: $sm-min-width) {
    padding-bottom: getGutter($num);
  }
}

@mixin pb-md($num) {
  @media (min-width: $md-min-width) {
    padding-bottom: getGutter($num);
  }
}

@mixin pb-lg($num) {
  @media (min-width: $lg-min-width) {
    padding-bottom: getGutter($num);
  }
}

@mixin pb-xl($num) {
  @media (min-width: $xl-min-width) {
    padding-bottom: getGutter($num);
  }
}

@mixin order-first {
  order: -1;
}

@mixin order-md-first {
  @media (min-width: $md-min-width) {
    order: -1;
  }
}

@mixin order-last {
  order: 13;
}

@mixin order-md-last {
  @media (min-width: $md-min-width) {
    order: 13;
  }
}

@mixin col($num) {
  @include col-common;
  flex: 0 0 divided-12($num);
  max-width: divided-12($num);
}

@mixin col-xl($num) {
  @include col-common;
  @media (min-width: $xl-min-width) {
    flex: 0 0 divided-12($num);
    max-width: divided-12($num);
  }
}

@mixin col-lg($num) {
  @include col-common;
  @media (min-width: $lg-min-width) {
    flex: 0 0 divided-12($num);
    max-width: divided-12($num);
  }
}

@mixin col-md($num) {
  @include col-common;
  @media (min-width: $md-min-width) {
    flex: 0 0 divided-12($num);
    max-width: divided-12($num);
  }
}

@mixin col-sm($num) {
  @include col-common;
  @media (min-width: $sm-min-width) {
    flex: 0 0 divided-12($num);
    max-width: divided-12($num);
  }
}

@mixin order($num) {
  order: $num;
}

@mixin order-xl($num) {
  @media (min-width: $xl-min-width) {
    order: $num;
  }
}

@mixin order-lg($num) {
  @media (min-width: $lg-min-width) {
    order: $num;
  }
}

@mixin order-md($num) {
  @media (min-width: $md-min-width) {
    order: $num;
  }
}

@mixin order-sm($num) {
  @media (min-width: $sm-min-width) {
    order: $num;
  }
}

@mixin offset($num) {
  margin-left: divided-12($num);
}

@mixin offset-xl($num) {
  @media (min-width: $xl-min-width) {
    margin-left: divided-12($num);
  }
}

@mixin offset-lg($num) {
  @media (min-width: $lg-min-width) {
    margin-left: divided-12($num);
  }
}

@mixin offset-md($num) {
  @media (min-width: $md-min-width) {
    margin-left: divided-12($num);
  }
}

@mixin offset-sm($num) {
  @media (min-width: $sm-min-width) {
    margin-left: divided-12($num);
  }
}

//======================================
//        SCSS COMPONENT MIXIN
// =====================================

/*    FOOTER MIXIN    */

@mixin footer-nav {
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.3px;
  cursor: pointer;
}

@mixin footer-nav-divider {
  &:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background-color: #ffffff;
    vertical-align: middle;
  }
}

@mixin footer-nav-divider-ug {
  @media (max-width: 850px) {
    &:after {
      opacity: 0;
      margin: 0;
    }
  }
}

/*    LAYOUT MIXIN    */
@mixin layout-main-container {
  @include container;
  max-width: $container-max-size;
  @media (max-width: $sm-max-width) {
    padding: 0;
  }
}

/*    MOCK MIXIN    */
@mixin mock-gradient-animation {
  background: linear-gradient(310deg, #ffffff, #d5d5d5);
  background-size: 800% 800%;
  -webkit-animation: mock-gradient-animation 4s ease infinite;
  -moz-animation: mock-gradient-animation 4s ease infinite;
  animation: mock-gradient-animation 4s ease infinite;
}