
.wm_amount {
  display: flex;
  margin-left: 1rem;

  span {
    @include ml(1);
    font-weight: 400;
    color: $primary-color;
    letter-spacing: -1px;
  }

  p {
    @media all and (max-width: $sm-max-width) {
      font-size: 14px;
    }
  }
}

.wm_common_disabledBtn {
  @include common_disabledBtn;
}

.wm_input {
  @include common_input;
}

.wm_inputWarning,
.wm_inputWarning:hover,
.wm_inputWarning:focus {
  @include common_inputWarning;
}