
.am_desc {
  @include pt(3);
  @include mt(3);
  text-align: center;
  font-size: 18px;

  span {
    margin: 0 10px;
    color: $primary-color;
    font-weight: bold;
  }
}

.am_on {
  @include d-flex;
  position: fixed;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0;
  left: 0;
}

.am_onWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.am_onContainer {
  @include d-flex;
  z-index: 1;
  align-content: center;
  align-items: center;

  div:first-child {
    font-size: 25px;
    font-family: $primary-fonts;
    margin-right: 20px;
    margin-top: 5px;
    font-weight: 400;
  }

  div:last-child {
    @include d-flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-family: $primary-fonts;
    font-weight: 500;
    margin-top: 3px;
    color: $primary-color;
  }
}

.am_text {
  margin-bottom: 3px;
}