
.vm_list {
  @include p(0);
  @include m(0);

  span {
    font-size: 1rem;
  }

  li {
    list-style-type: none;
    font-size: 14px;

    strong {
      color: #4d4d4d;
      font-weight: bold;
    }

    * {
      font-size: 14px;
    }
  }
}

.vm_deckAmount {
  @include mr(1);
  color: $primary-color;
  font-weight: bold;
}

.vm_dollarAmount {
  @include ml(1);
  color: $primary-color;
}

.vm_note {
  @include mt(2);
  color: #f92121;
  font-size: 14px;
}

.vm_common_disabledBtn {
  @include common_disabledBtn;
}

.vm_input {
  @include common_input;
}

.vm_inputWarning,
.vm_inputWarning:hover,
.vm_inputWarning:focus {
  @include common_inputWarning;
}