
.hss_section_3 {
  @include d-flex;
  justify-content: flex-end;
  -webkit-box-pack: end; /* justify-content */
  -webkit-box-align: end; /* align-items */
  @include ml-lg(2);
  @include ml(1);
}

.hss_postContainer {
  @include mr-lg(3);
  @include ml(1);
  @include mr(1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}