
.mn_btnWrapper {
  width: 34px;
  height: 34px;
  transition: 0.5s all ease-in-out;
  border-radius: 50%;
  padding: {
    left: 1px;
    top: 2px;
  }

  &:hover {
    background: #d6e6ff;
  }
}

.mn_wrapper {
  padding: 40px;
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.85;
  z-index: 1;
  @media (max-width: $sm-max-width) {
    opacity: 1 !important;
    background: white !important;
  }
}

.mn_container {
  height: 100%;

  @media (min-width: $sm-min-width) {
    @include d-flex;
    justify-content: center;
    align-items: center;
  }
}

.mn_closeBtn {
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 16px;
}

.mn_contentList {
  position: relative;
  @media (max-width: $sm-max-width) {
    margin-top: 40px;
    display: inline-block !important;
  }
}

.mn_contentItem {
  cursor: pointer;
  line-height: 2.25;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  font: {
    family: $primary-fonts;
    size: 40px;
    weight: 500;
    style: normal;
    stretch: normal;
  }

  &:hover {
    color: $second-color;
  }

  @media (max-width: $sm-max-width) {
    text-align: left !important;
    color: #4d4d4d !important;
    font-size: 22px !important;
    line-height: 2.09 !important;
    letter-spacing: -0.1px !important;
  }
}

.mn_contentItemSub,
.mn_contentItemSub > a {
  cursor: pointer;
  line-height: 1.67;
  letter-spacing: -0.3px;
  text-align: center;
  color: #b3b3b3;
  font: {
    family: $primary-fonts;
    size: 24px;
    weight: 300;
    style: normal;
    stretch: normal;
  }

  &:hover {
    color: $second-color;
  }

  @media (max-width: $sm-max-width) {
    text-align: left !important;
    line-height: 2.25 !important;
    letter-spacing: -0.2px !important;
    color: #666666 !important;
    font: {
      family: $primary-fonts !important;
      size: 16px !important;
      weight: 400 !important;
    }
  }
}

.mn_version {
  color: #505050;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  @media (max-width: $sm-max-width) {
    color: #cecece !important;
    font-size: 10px !important;
    bottom: 4px !important;
    left: 8px !important;
  }
}

.mn_logoutBtn {
  @include d-flex;
  position: absolute;
  bottom: 40px;
  left: 40px;
  align-items: center;
  cursor: pointer;
  width: calc(100% - 80px);
  height: 50px;
  border-radius: 4px;
  border: solid 1px #999999;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: #808080;
  justify-content: center;
  margin: auto;
}

.mn_loginBtn {
  @include d-flex;
  position: absolute;
  bottom: 40px;
  left: 40px;
  align-items: center;
  cursor: pointer;
  width: calc(100% - 80px);
  height: 50px;
  border-radius: 4px;
  background-color: $primary-color;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: #ffffff;
  justify-content: center;
  margin: auto;
}

.mn_logoutBtnSub {
  @extend .mn_logoutBtn;
  @media (min-width: $sm-min-width) {
    display: none;
  }
}
