
.sb_wrapper {
  @include ml(1);
  @include d-flex;
  justify-content: center;
  position: relative;
  width: 50px;
}

.sb_searchBtnMain {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-size: cover;
  z-index: 1;
  position: absolute;
  right: 0;

  @media (min-width: $lg-min-width) {
    background: url($image-url +'/icon/btn-search.png');
    top: -9px;
  }

  @media (max-width: $lg-max-width) {
    background: url($image-url +'/icon/btn-search-m.png') no-repeat 0 0/ contain !important;
    width: 40px;
    height: 36px;
    top: -6px;
  }
}

.sb_searchBtnMain_small {
  @extend .sb_searchBtnMain;
  width: 23px;
  height: 23px;

  @media (min-width: $lg-min-width) {
    background: url(https://res.polarishare.com/static/image/icon/btn-search-small.png) no-repeat 0 0/contain !important;
    top: 0;
  }
}

.sb_searchBtnHeader {
  cursor: pointer;
  width: 23px;
  height: 23px;
  background-size: cover;
  z-index: 1;
  position: absolute;
  right: 10px;
  top: 2px;
  background: url($image-url +'/icon/btn-search-small.png') no-repeat 0 0/ contain !important;
}